@tailwind base;
@tailwind components;
@tailwind utilities;

#vs-computer,
#vs-player,
#x-symbol,
#o-symbol {
	@apply m-3 aspect-square w-36 rounded-2xl bg-center bg-no-repeat;
	background-size: 75%;
}

#vs-computer {
	background-image: url("/svg/computer.svg");
}

#vs-player {
	@apply ml-0;
	background-image: url("/svg/users.svg");
}

#x-symbol {
	background-image: url("/svg/X.svg");
	background-size: 60%;
}

#o-symbol {
	@apply ml-0;
	background-image: url("/svg/O.svg");
	background-size: 60%;
}

#vs-computer:hover,
#vs-player:hover,
#x-symbol:hover,
#o-symbol:hover,
.selected-item {
	@apply bg-fuchsia-700;
}

.cell {
	@apply text-center align-baseline;
	background-color: white;
}

#back-arrow-button {
	@apply aspect-square w-10 bg-center bg-no-repeat lg:w-12;
	background-image: url("/svg/arrow-left.svg");
	background-size: 100%;
}
#back-arrow-button:hover {
	filter: invert(56%) sepia(62%) saturate(491%) hue-rotate(109deg) brightness(89%) contrast(109%);
}

.x-marker {
	@apply bg-center bg-no-repeat;
	background-image: url("/svg/cross.svg");
	background-size: 60%;
}

.o-marker {
	@apply bg-center bg-no-repeat;
	background-image: url("/svg/circle.svg");
	background-size: 60%;
}
