@tailwind base;
@tailwind components;
@tailwind utilities;

#vs-computer,
#vs-player,
#x-symbol,
#o-symbol {
	@apply m-3 aspect-square w-36 rounded-2xl bg-zinc-200 bg-center bg-no-repeat;
	background-size: 75%;
}

#vs-computer {
	background-image: url("/svg/computer.svg");
}

#vs-player {
	@apply ml-0;
	background-image: url("/svg/users.svg");
}

#x-symbol {
	background-image: url("/svg/cross.svg");
	background-size: 60%;
}

#o-symbol {
	@apply ml-0;
	background-image: url("/svg/circle.svg");
	background-size: 60%;
}

#vs-computer:hover,
#vs-player:hover,
#x-symbol:hover,
#o-symbol:hover,
.selected-item {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(291deg) brightness(103%) contrast(103%);
}

.cell {
	@apply bg-yellow-200 text-center align-baseline;
}

#back-arrow-button {
	@apply aspect-square w-10 bg-center bg-no-repeat lg:w-12;
	background-image: url("/svg/arrow-left.svg");
	background-size: 100%;
}
#back-arrow-button:hover {
	filter: invert(50%) sepia(85%) saturate(4122%) hue-rotate(350deg) brightness(98%) contrast(106%);
}
